{{define "layout"}}
<html>
<head>
    <title> gvasaliya.com </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div>    {{template "navbar"}}</div>
<br><br>
<div class="container-fluid">
    {{template "content"}}

</div>
<script src="//ajax.googleapis.com/ajax/libs/jqiery/1.11.3/jquery.min.js">
</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}